.wrapper {
    background-color:white;
    position: absolute;
    width: 30%;
    padding: 5px;
    margin-left: 55ch;
    margin-right: auto;
    margin-top: 100px;
    border: 1px solid black;
    border-radius: 5px;
}
.body {
    margin-left: 1em;
}
.wrapper h2 {
    text-align: center;
}
.wrapper a {
    text-decoration: none;
    color: black;
}
.wrapper a:hover {
    text-decoration: underline;
    opacity: .9;
}
.wrapper button {
    background-color: rgb(240, 240, 48);
    margin-bottom: 1em;
}
.background {
    background: url('../../../assets/barbackground.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}
.flash {
    background-color: green;
}