.gridArea{
    display: grid;
    grid-template-columns: 40% 20% 40%;
    grid-template-rows: 30% 40% 30%;
    height: 100%;
 }
 .mat-card{
    grid-column: 2 / span 1;
    grid-row: 2 / span 1;
 }
 .body {
    margin-left: 1em;
 }
 .wrapper h2 {
    text-align: center;
 }
 .wrapper a {
    text-decoration: none;
    color: black;
 }
 .wrapper a:hover {
    text-decoration: underline;
    opacity: .9;
 }
 .wrapper button {
    background-color: rgb(240, 240, 48);
    margin-bottom: 1em;
 }
 .background {
    background: url('../../../assets/barbackground.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
 }
 .flash {
    background-color: green;
 }