@import "~font-awesome/css/font-awesome.css";

.spacing{
    flex: 1 1 auto;
}
.footer{
    position: relative;
    bottom: 0;
    background: rgb(245, 164, 15);
    color: white;
    height: 3em;
}
.text {
    padding-top: 1em;
}
.faicons{
    float: right;
    margin-right: 1em;
}