<form action="" >
  <div>
    <mat-form-field>
      <input matInput type="text" name="" id="" placeholder="Beer Name">
    </mat-form-field>
  </div>
  <div>
    <mat-form-field>
      <input matInput type="text" name="" id="" placeholder="Brewery">
    </mat-form-field>
  </div>
  <div>
    <mat-form-field>
      <input matInput type="text" name="" id="" placeholder="Brewery Location">
    </mat-form-field>
  </div>
  <div>
    <mat-form-field>
      <input matInput type="text" name="" id="" placeholder="Style">
    </mat-form-field>
  </div>
  <div>
    <mat-form-field>
      <input matInput type="text" name="" id="" placeholder="ABV">
    </mat-form-field>
  </div>
  <mat-checkbox color="primary">Validate for brewer</mat-checkbox>
</form>