.sidenav-container {
  height: 100%;
  z-index: 2;
}

.sidenav {
  width: 200px;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}
.spacing{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}
mat-sidenav{
  box-shadow: 3px 0px 2px  rgba(0, 0, 0, 0.405)
}
.title {
  margin-left: 10px;
}