.update {
    background-color: darkgreen;
    margin-right: 5px;
    color: white;
}
.delete {
    background-color: orangered;
}
.info {
    color: black;
    text-align: center;
    grid-area: info;
    grid-column: 2 / span 1;
}
.info p {
    font-size: 18px;
    display: inline-block;
}
.spacing{grid-area: spacing;
}

.wrapper {
    margin-top: 5em;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-area: 
    "spacing spacing spacing"
    "spacing info spacing"
    "spacing spacing spacing"
}
.fname {
    display: inline-block;
}