<div class="wrapper">
    <mat-card class="info">
        <div class="spacing"></div>
        <div class="info">
            <h1>My Account Info</h1>
            <div class="fname">
                First Name -
                <p> {{this.firstname}}</p>
            </div>
            <div>Last Name -
                <p> {{lastname}}</p>
            </div>
            <div>Username -
                <p> {{username}}</p>
            </div>
            <div>Email -
                <p> {{email}}</p>
            </div>
            <button mat-raised-button (click)="openDialog()" class="update">Update</button>
            <button mat-raised-button (click)="openDelete()" class="delete">Delete</button>
        </div>
    </mat-card>
</div>
