<div class="wrapper">
    <div class="info">
        <h1>My Account Info</h1>
        <hr color="white" />
        <div class="fname"><h3>First Name - <p> {{this.firstname}}</p></h3></div>
        <hr color="white"/>
        <div><h3>Last Name - <p> {{lastname}}</p></h3></div>
        <hr color="white"/>
        <div><h3>Username - <p> {{username}}</p></h3></div>
        <hr color="white"/>
        <div><h3>Email - <p> {{email}}</p></h3></div>
        <hr color="white"/>

    <button mat-raised-button (click)="openDialog()" class="update">Update</button>
    <button mat-raised-button (click)="openDelete()"class="delete">Delete</button>
    </div>
</div>
