<div class="gridlines">
    <mat-card class="gridarea">
        <mat-accordion>
            <mat-expansion-panel class="expansionPanels">
                <mat-expansion-panel-header>
                    Beer
                </mat-expansion-panel-header>
                <mat-form-field>
                    <mat-select placeholder="Search by" [(value)]="selected">
                        <mat-option value="option1">Name </mat-option>
                        <mat-option value="option2">Type</mat-option>
                        <mat-option value="option3">Brewery</mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field>
                    <input matInput placeholder="Search" type="text">
                </mat-form-field>
                <button mat-raised-button>Search</button>
            </mat-expansion-panel>
            <mat-expansion-panel class="expansionPanels">
                <mat-expansion-panel-header>
                    Friends
                </mat-expansion-panel-header>
                <mat-form-field>
                    <input matInput placeholder="Search" type="text">
                </mat-form-field>
                <button mat-raised-button>Search</button>
            </mat-expansion-panel>
            <mat-expansion-panel class="expansionPanels">
                <mat-expansion-panel-header>
                    Brewery
                </mat-expansion-panel-header>
                <mat-form-field>
                    <input matInput placeholder="Search" type="text">
                </mat-form-field>
                <button mat-raised-button>Search</button>
            </mat-expansion-panel>
        </mat-accordion>
    </mat-card>

    <mat-card class="gridarea">
        <div class="dashGridArea">
            <div>
                    <mat-card class="feedItems">
                            Feed
                    </mat-card>
                    <mat-card class="feedItems">
                            Feed
                    </mat-card>
                    <mat-card class="feedItems">
                            Feed
                    </mat-card>
                    <mat-card class="feedItems">
                            Feed
                    </mat-card>
                    <mat-card class="feedItems">
                            Feed
                    </mat-card>
                    <mat-card class="feedItems">
                            Feed
                    </mat-card>
                    <mat-card class="feedItems">
                            Feed
                    </mat-card>
            </div>
            <div></div>
            <div>
                    <mat-card class="recommendedItems">
                            recommended
                    </mat-card>
                    <mat-card class="recommendedItems">
                            recommended
                    </mat-card>
                    <mat-card class="recommendedItems">
                            recommended
                    </mat-card>
                    <mat-card class="recommendedItems">
                            recommended
                    </mat-card>
                    <mat-card class="recommendedItems">
                            recommended
                    </mat-card>
                    <mat-card class="recommendedItems">
                            recommended
                    </mat-card>
                    <mat-card class="recommendedItems">
                            recommended
                    </mat-card>
            </div>
        </div>
    </mat-card>
</div>