<div class="gridlines">
    <mat-card class="gridarea">
            <mat-accordion>
                    <mat-expansion-panel class="beerAccordion">
                      <mat-expansion-panel-header>
                          Beer
                      </mat-expansion-panel-header>
                      
                 <mat-form-field>
                    <mat-select placeholder="Name" [(value)]="selected">
                      <mat-option value="option1">Name </mat-option>
                      <mat-option value="option2">Type</mat-option>
                      <mat-option value="option3">Brewery</mat-option>
                    </mat-select>
                  </mat-form-field>
                  <mat-form-field>
                      <input matInput type="text">
                  </mat-form-field>
                  <button mat-raised-button> search</button>

                    </mat-expansion-panel>

                    <mat-expansion-panel (opened)="panelOpenState = true"
                       (closed)="panelOpenState = false">
                       <mat-expansion-panel-header>
                            Friends
                        </mat-expansion-panel-header>
                    <mat-form-field>
                        <input matInput type="text">
                    </mat-form-field>
                        </mat-expansion-panel>
                  </mat-accordion>
        </mat-card>
        <mat-card class="gridarea">
                <mat-card-title>
                    Dash
                </mat-card-title>
            </mat-card>
</div>