.gridarea{
    display: grid;
}
.gridlines{
    display: grid;
    grid-template-columns: 20% 80%;  
}
.expansionPanels{
    margin: .5%;
}
.dashGridArea{
    display: grid;
    grid-template-columns: 40% 20% 40%;
}
.colors{
    border: black 1px solid;
}