
.expansion{
    margin-left: 1em;
}
.accordiondiv{
    width: 19em;
}
.gridLines{
    display: grid;
    grid-template-columns: 20% 80%;
}
.beerCard{
    margin-right: 1em;
    margin-left: 1em;
    display: grid;
    grid-template-columns: 8% 20% 1% 20% 1% 20% 1% 20%;

}