.card-container{
    margin: 1em;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 1em;
}
.card-info{
    margin: 1em;
    background: #9AE17B;
}
.spacing{
    flex: 1 1 auto;
}
.filter{
    background: #307470;
}
.beerCards-Color{
    background: rgba(154, 225, 123, 0.741);
}
@media screen and (max-width: 770px){

.card-container{
    margin: 1em;
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1em;
}
}

@media screen and (max-width: 420px){
.card-container{
    margin: 1em;
    display:grid;
    grid-template-columns: 1fr;
    grid-gap: 1em;
    }
}